img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.staff-info {
    list-style: none;
}

.staff-info li {
    margin-top: 10px;
}

.post-report-card,
.comment-report-card,
.message-card {
    background-color: #ede3d2;
}

.ignore-button,
.remove-button,
.view-post-button,
.reply-button {
    color: #ede3d2;
    background-color: #414833;
}

.ignore-button:hover,
.ignore-button:active,
.remove-button:hover,
.remove-button:active,
.reply-button:hover,
.reply-button:active,
:not(.btn-check) + .reply-button:active {
    color: #ede3d2;
    background-color: #737a5d;
    border-color: #737a5d;
}

.view-post-button {
    flex-basis: content;
    /* color: #fff; */
    background-color: #737a5d;
}

.view-post-button:hover,
.view-post-button:active {
    background-color: #a4ac86;
}

.text-body-secondary {
    --bs-secondary-color: rgba(65, 72, 51, 0.7);
}

.card-title,
.card-subtitle,
.card-body,
.nav-link,
.nav-link:hover,
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link,
.page-link {
    color: #414833;
}

.page-link:hover,
.page-link:active,
.page-link:focus {
    color: #10120c;
    background-color: rgba(65, 72, 51, 0.2);
}

.active > .page-link,
.page-link.active {
    color: white;
    background-color: #737a5d;
}

.disabled .page-link {
    background-color: rgba(65, 72, 51, 0.2);
}

.badge {
    background-color: #737a5d;
}

.focus-ring {
    --bs-focus-ring-color: rgba(115, 122, 93, 0.4);
}

.hidden {
    display: none;
}
