.main-container{
    height: 90vh;
}

.title{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.subtitle{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.input-header{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.btn{
    background-color: #414833;
    color: white;
    font-weight: 500;
    margin-right: 1%;
    transition: 0.5s;
}

.btn:hover{
    background-color: #A4AC86;
    border: #414833 1px solid;
}

.btn:active{
    background-color: white !important;
    color: #414833 !important;
}

.additional-text{
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}