main{
    max-width: 1000px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.search-bar{
    border-radius: 3px;
    max-width: 600px;
    border: 1px solid;
}

.search-bar::placeholder{
    font-size: 15px;
}

#forum-stats{
    max-width: 400px;
}

#forum-stats p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

#forum-stats h2{
    font-family: Roboto;
    font-size: 32px;
    font-weight: regular;
    letter-spacing: 3px;
}

#forum-hero{
    margin: 0 5%;
}

.circle{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: #A4AC86;
    display: inline-block;
    margin-right: 10px;
    margin-top: 3px;
}

.topic{
    font-size: 15px;
}

#trending-topics{
    margin-left: 30px;
}

#trending-topics h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.topic{
    font-size: 14px;
}

#create-post-button{
    background-color: #414833;
    color: white;
    font-weight: 500;
    margin-right: 1%;
    transition: 0.2s;
}

#create-post-button:hover{
    background-color: #A4AC86;
    border: #414833 1px solid;
}

#create-post-button:active{
    background-color: white;
    color: #414833;
}

.dropdown .btn{
    background-color: white;
    border: #414833 1px solid;
    color: #414833;
}

.dropdown-item:hover{
    background-color: #A4AC86;
}

.dropdown-item:active{
    background-color: #414833;
}

.card{
    border: none;
    background-color: #EBE3D2;
}

.number-of-likes{
    font-size: 19px;
    font-weight: 500;
    margin: 0 10px 0 0;
}

.like-true{
    color: #414833;
}

.like-false{
    color: gray;
}

.like-icon{
    margin-right: 20px;
    font-size: 19px;
}

.card-title{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-text{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-topic{
    color: white;
    font-size: 12px;
    background-color: #414833;
    border-radius: 20px;
    padding: 2px 15px;
}

.post-comment-icon{
    color: #414833;
    font-size: 15px;
    margin-top: 2px;
}

.post-date, .post-author{
    margin: 0;
    font-size: 14px;
}

.post-right{
    margin-right: 8%;
}

.post-ellipsis{
    color: #414833;
}
