  .event-card {
    margin-bottom: 1.5rem;
    background-color: #EBE3D2;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
.event-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
    white-space: nowrap;
}
  
.hostevent-btn {
    background-color: #414833;
    color: white;
}

.hostevent-btn:hover {
    background-color: #303525;
    border-color: #303525; 
    color: white; 
}