.posts-container {
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ebe3d2;
}
.post-content.mb-4 {
    padding: 0 20px;
}

.view-post {
    color: #fff;
}

ul {
    list-style: none;
}

.view-post a,
.view-event a,
.edit-button a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #404a3d;
    border-radius: 5px;
}

.view-post a:hover,
.view-event a:hover,
.edit-button a:hover {
    background-color: #fea866;
    color: #414833;
}

.overview-title {
    border-top: 1px solid #404a3d;
    padding-top: 20px;
    color: #414833;
}

.overview-title h4 {
    font-size: 18px;
}

.post-ellipsis {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1000;
    top: 0;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-item {
    padding: 0.25rem 1.5rem;
    cursor: pointer;
}

.change-size {
    font-size: 18px;
}

#posts-container .card-body,
#events-container .card-body,
#pending-events-container .card-body,
#deny-events-container .card-body,
#event-profile,
#member-profile {
    background-color: #ebeee8;
}

#events-filter-container {
    padding-top: 20px;
    border-top: 1px solid #414833;
    text-align: right;
}

#no-events-message {
    margin-top: 20px;
    color: #777;
    font-size: 16px;
}

.event-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px 20px;
    margin-bottom: 15px;
    background-color: #fff;
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pending-state {
    color: #ff9900; /* Pending state color */
    font-weight: bold;
    font-size: 24px;
}

.event-details {
    display: flex;
    margin-top: 20px;
}

.info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #414833;
}

.profile-info ul {
    padding-top: 20px;
}

.profile-info ul li {
    padding: 5px 0;
}

#post-container .focus-ring,
#events-container .focus-ring,
#pending-events-container .focus-ring,
#deny-events-container .focus-ring {
    color: #fff;
    background-color: #414833;
}

.focus-ring a {
    color: #fff;
}

#post-container .focus-ring:hover,
#events-container .focus-ring:hover,
#pending-events-container .focus-ring:hover,
#deny-events-container .focus-ring:hover {
    background-color: #ff9900;
}

#post-container .focus-ring,
#events-container .focus-ring,
#pending-events-container .focus-ring a:hover,
#deny-events-container .focus-ring a:hover {
    color: #fff;
    text-decoration: none;
}

.event-info-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.event-info-left img {
    width: 100%;
    border-radius: 0;
    height: 100%;
}

.event-info-right {
    flex: 2;
}

.event-image {
    max-width: 150px;
    max-height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.view-event,
.edit-button {
    margin-top: 10px;
    text-align: right;
}

.profile-row {
    padding-bottom: 100px;
}

.dropdown a {
    color: #414833;
}

.topic-name {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #414833;
    color: #fff;
    display: inline-block;
}

.post-icon {
    color: #414833;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-icon p {
    margin: 0;
}

/* Style the confirmation container */
#deleteConfirmationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fix the position to the viewport */
    bottom: 50%;
    left: 40%;
    background-color: #414833; /* Semi-transparent background */
    color: white; /* Text color */
    z-index: 20;
    padding: 20px;
    border-radius: 10px;
}

.delete-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the buttons */
#deleteConfirmationContainer button {
    margin: 10px 5px 0 5px;
    border-radius: 5px;
    border: none;
    background-color: #ff9900;
}

#deleteConfirmationContainer button:hover {
    background-color: #fff;
    color: #414833;
}

.bio-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
